@{
    ViewBag.Title = "Home Page";
}
<div>

    <div class="jumbotron"> 
         <font color="white" face="Cambria" > 
        
        <align-left><h2><b><font face="Felix Titling" size="32">Welcome to ParentsBank</font></b></h2></align-left>
        <p><strong>The sky is the limit and we can help you make important financial decisions:</strong></p>
        
            
            
             <p><span class="numberCircle">1 </span> Create an account</p> 
            
             <p><span class="numberCircle">2 </span> Keep track of your transactions</p>
            
             <p><span class="numberCircle">3</span>Budget for Items you see in your near future</p>
             </font>
         <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Hard work pays off! Open an account today!
            </p>
             
            <p><a class="btn btn-default" href="/Account/Register/" title="Register">Register</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get More </h2>
            <p>Save up for Items with our Wishlist feature.</p>
            <p><a class="btn btn-default" href="/WishlistItems/" title="Wishlist Items">Wishlist Items</a></p>

               </div>
        <align-right><img height="300" width="300" src="~/content/computer looker 2.jpg" /></align-right>

    </div>

</div>
