@{
    ViewBag.Title = "Home Page";
}

<html>
<body>




    <div class="jumbotron" > 
        
        <align-left><h2><font color="white"> Welcome to ParentsBank</font></h2></align-left>
        <center><p><strong><font color="white"> The Sky is the limit with ParentsBank:</font></strong></p></center>
        <ol class="jumboUl">
          <li class="bullet-1">Create an account</li>  
          <li class="bullet-2">Keep track of your transactions</li>
          <li class="bullet-3">Budget for Items you see in your near future</li>
        </ol>
        
         <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Hard work pays off! Open an account today!
            </p>
            <p><a class="btn btn-default" href="/Account/Register/" title="Register">Register</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get More </h2>
            <p>Save for Items up hope to one day have with our Wishlist feature.</p>
            <p><a class="btn btn-default" href="/WishlistItems/" title="Wishlist Items">Wishlist Items</a></p>
        </div>
       
    </div>

</body>

</html>