@{
    ViewBag.Title = "Home Page";
}

<html>
<body>

    <div class="row">
        <br />
        <br />
        <div class="col-md-6 resource" style="border:solid black 3px; background-color:#ffff80" >
       
                <p><strong>Parents</strong></p>
                <p>Saving up for a big trip?</p>
                <ul>
                    <li>Add Money to your account</li>
                    <li>Save up for Wishlist Items!</li>
                </ul>
           
            <div>
                <p><a class="btn btn-default" href="/WishlistItems/" title="Wishlist Items">Wishlist Items</a></p>
            </div>

        </div>

        <div class="col-md-6 resource"style="border:solid black 3px; background-color:#ffff80">

            <p><strong>Children</strong></p>

            <p>Options are available for your children.</p>
            <ul>
                <li>Start an Account</li>
                <li>Get a head start on College Funds</li>
            </ul>
            <div>

                <p><a class="btn btn-default" href="http://www.investopedia.com/" title="Options" target="_blank">Options</a></p>
            </div>
        </div>
    </div>

    <div class="text-center"><img src="~/content/check.png" /></div>
</body>

</html>